/build/
/artifacts/
/captures/
.DS_Store
*.xcuserstate
xcuserdata/
*.app/
*.systemextension/
*.xcarchive/
*.dSYM/
_CodeSignature/
*.o
*.a
*.dylib
*.dmg
*.pkg
*.ipa
*.zip
*.provisionprofile
*.mobileprovision
*.p12
*.pfx
*.p8
*.key
*.pem
*.der
*.cer
*.crt
*.certSigningRequest
*.keychain
*.keychain-db
*.local.xcconfig
ExportOptions*.plist
.env
.env.*
